
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      That's Not How You Flirt
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <img src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>This doesn't work.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input  name="username" type="text" placeholder="Username" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
      
      <ion-button style="margin-top: 20px;" [disabled]="true" expand="block">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
