<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      That's Not How You Flirt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NHYF</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>This doesn't work.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Username:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
